<h1>Editing Hotel Room Request</h1>

<%= render 'form' %>


<% if Admin.find_by_school_id(current_school) %> 
<%= link_to 'Back to Admin', edit_admin_path(Admin.find_by_school_id(current_school)) %>
<% else %>
<%= link_to 'Back to Admin', new_admin_path %>
<% end %> 
